@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 1800px;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tweet-editor-actions {
  @apply flex items-center justify-start space-x-4;
}

.tweet-editor-actions button {
  @apply bg-transparent focus:outline-none;
}

.button {
  @apply capitalize px-6 py-2 rounded-full bg-[#1d9bf0] text-white font-medium;
}
.tweet {
  @apply flex justify-start items-start gap-5 px-[1.5rem] py-[1rem] border-b border-gray-700;
}

.tweet-avatar {
  @apply grow-0 shrink-0 basis-20;
}

.tweet-avatar img {
  @apply rounded-full max-w-full h-14 object-cover;
}

.tweet-content {
  @apply flex flex-col items-start justify-start gap-8 w-full;
}

.tweet-body {
  @apply flex flex-col gap-1;
}

.tweet-title {
  @apply flex items-center justify-start gap-2 text-lg;
}

.tweet-title svg {
  @apply w-4 h-auto;
}

.tweet-title-author {
  @apply text-lg;
}

.tweet-title-details {
  @apply text-[#6e767d;];
}

.tweet-text {
  @apply text-[#d9d9d9;] text-base;
}

.tweet-image {
  @apply w-full pt-[0.3rem];
}


.tweet-image img {
  @apply rounded-full max-w-full h-auto border border-gray-700;
}


.tweet-actions {
  @apply flex items-center justify-center gap-20 text-gray-500 text-base;
}


.tweet-actions svg {
  @apply w-8 h-auto text-gray-700;
}
.tweet-action {
  @apply flex items-center justify-center gap-5;
}



.sidebar {
  @apply flex flex-col items-start gap-5 px-4 py-3 fixed top-0 left-0 h-screen overflow-y-auto shadow-md;
}

.input_trends input {
  @apply bg-transparent focus:outline-none text-white w-full text-lg;
}

.input_trends input::placeholder {
  @apply text-[#6e767d]; 
}


.trends {
  @apply py-[1.5rem] px-[1rem] gap-5;
}

.trends_f_u,
.whofollow {
  @apply w-[100%] bg-[#202327] rounded-[30px] px-4 py-3 pt-4; 
}

.trendsFuTitle {
  @apply flex justify-between mb-5;
}

.input_div {
  @apply w-[90%];
}

.trendingIn {
  @apply flex justify-between mb-2;
}

.trendingIn p {
  @apply m-0 p-0 text-sm text-[#6e767d];
}

.btn_sm {
  @apply w-[106px] h-12 bg-transparent text-[#1d9bf0] border-none text-lg;
}

.sous-follow {
  @apply flex justify-between;
}

.sous-fol {
  @apply flex;
}
.button-follow {
  @apply bg-[#eff3f4] text-[#0f1419];
}

.sous-follow-owner-title1 {
  @apply font-normal text-[15px] text-[#d9d9d9];
}

.sous-follow-owner-title2 {
  @apply text-[#6e767d];
}

.sous-follow-owner {
  @apply flex ml-[10px] items-center;
}
.whofollow {
  @apply flex flex-col justify-between gap-[20px];
}

