@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 1800px;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tweet-editor-actions {
  @apply flex items-center justify-start space-x-4;
}

.tweet-editor-actions button {
  @apply bg-transparent focus:outline-none;
}

.button {
  @apply capitalize px-6 py-2 rounded-full bg-[#1d9bf0] text-white font-medium;
}
.tweet {
  @apply flex justify-start items-start gap-5 px-[1.5rem] py-[1rem] border-b border-gray-700;
}

.tweet-avatar {
  @apply grow-0 shrink-0 basis-20;
}

.tweet-avatar img {
  @apply rounded-full max-w-full h-14 object-cover;
}

.tweet-content {
  @apply flex flex-col items-start justify-start gap-8 w-full;
}

.tweet-body {
  @apply flex flex-col gap-1;
}

.tweet-title {
  @apply flex items-center justify-start gap-2 text-lg;
}

.tweet-title svg {
  @apply w-4 h-auto;
}

.tweet-title-author {
  @apply text-lg;
}

.tweet-title-details {
  @apply text-[#6e767d;];
}

.tweet-text {
  @apply text-[#d9d9d9;] text-base;
}

.tweet-image {
  @apply w-full pt-[0.3rem];
}


.tweet-image img {
  @apply rounded-full max-w-full h-auto border border-gray-700;
}


.tweet-actions {
  @apply flex items-center justify-center gap-20 text-gray-500 text-base;
}


.tweet-actions svg {
  @apply w-8 h-auto text-gray-700;
}
.tweet-action {
  @apply flex items-center justify-center gap-5;
}



.sidebar {
  @apply flex flex-col items-start gap-5 px-4 py-3 fixed top-0 left-0 h-screen overflow-y-auto shadow-md;
}

.input_trends input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: large;
}
.input_trends input::placeholder {
  color: #6e767d;
}

.trends {
  padding: 1.5rem 1rem;
  gap: 20px;
}
.trends_f_u,
.whofollow {
  width: 90%;
  background: #202327;
  padding: 1.5rem 1rem;
  padding-top: 10px;
  border-radius: 15px;
}
.trendsFuTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input_div {
  width: 90%;
}
.trendingIn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.trendingIn p {
  margin: 0;
  padding: 0;
  font-size: smaller;
  color: #6e767d;
}
.btn_sm {
  width: 106px;
  height: 30px;
  color: #1d9bf0;
  background: transparent;
  font-size: larger;
  border: none;
}
.sous-follow {
  display: flex;
  justify-content: space-between;
}
.sous-fol {
  display: flex;
}
.button-follow {
  background-color: #eff3f4;
  color: #0f1419;
  width: 73px;
  height: 37px;
}
.sous-follow-owner-title1 {
  font-weight: 400;
  font-size: 15px;
  color: #d9d9d9;
}
.sous-follow-owner-title2 {
  color: #6e767d;
}
.sous-follow-owner {
  margin-left: 10px;
}
.whofollow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
